@font-face {
    font-family: 'lostarregular';
    src: url('lostar-webfont.woff2') format('woff2'),
        url('lostar-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --header-font: 'lostarregular';
    --text-font: Arial, Helvetica, sans-serif;
    --header-color: #ffffff;
    --header-outline-color: #000000;
    --header-outline-width: 2px;
    --text-color: #000000;
    --text-outline-color: #000000;
    --text-outline-width: 0px;
}

body {
    background-color: #f2fff5;
    background-size: auto;
}

h1 {
    font-family: var(--header-font);
    color: --var(--header-color);
    outline-color: --var(--header-outline-color);
    outline-width: --var(--header-outline-width);
}

h2 {
    font-family: var(--header-font);
    color: --var(--header-color);
    outline-color: --var(--header-outline-color);
    outline-width: --var(--header-outline-width);
}

h3 {
    font-family: var(--header-font);
    color: --var(--header-color);
    outline-color: --var(--header-outline-color);
    outline-width: --var(--header-outline-width);
}

h4 {
    font-family: var(--header-font);
    color: --var(--header-color);
    outline-color: --var(--header-outline-color);
    outline-width: --var(--header-outline-width);
}

h5 {
    font-family: var(--header-font);
    color: --var(--header-color);
    outline-color: --var(--header-outline-color);
    outline-width: --var(--header-outline-width);
}

h6 {
    font-family: var(--header-font);
    color: --var(--header-color);
    outline-color: --var(--header-outline-color);
    outline-width: --var(--header-outline-width);
}

a {
    text-decoration: underline;
    font-family: var(--text-font);
    color: --var(--text-color);
    outline-color: --var(--text-outline-color);
    outline-width: --var(--text-outline-width);
}

p {
    font-family: var(--text-font);
    color: --var(--text-color);
    outline-color: --var(--text-outline-color);
    outline-width: --var(--text-outline-width);
}

a:visited {
    color: darkslategrey;
}

a:link {
    color: orchid;
}

thead {
    background-color: #047900;
    color:#ffffff;
    outline-width: 2px;
    outline-style: double;
    outline-color: #000000;
}

tbody {
    background-color: #f0fff0;
    outline-width: 2px;
    outline-style: double;
    outline-color: #000000;
}

.thread-title {
    color: orchid;
}